<mat-toolbar>
  <h1>taskify</h1>
</mat-toolbar>
<mat-selection-list #tasks [(ngModel)]="selectedTasks">
  <div *ngFor="let task of tasksList">
    <mat-list-option [value]="task" [selected]="task.task_status === 0" (click)="onSelected(task, tasks.selectedOptions.selected)" class="tasks-options">
      <span>
        <div>{{task.task_title}}:</div>
        <div>{{task.task_describtion}}</div>
      </span>
    </mat-list-option>
    <br/>
    <button mat-flat-button color="warn" class="delete-task" (click)="deleteTask(task.task_id)">delete</button>
    <br/>
  </div>
</mat-selection-list>

<br/>

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Add New Task Title</mat-label>
      <input matInput placeholder="Title" value="new task" [(ngModel)]="title" name="title">
    </mat-form-field>

    <br/>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a Describtion</mat-label>
      <textarea matInput placeholder="describtion" [(ngModel)]="describtion" name="desc"></textarea>
    </mat-form-field>
</form>
  
<br/>
<button mat-flat-button color="primary" (click)="addTask()">add new task</button>
